:host {
  padding: 2em;
 display: grid;
 place-items: center;
 .wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
}
label {
  font-family: 'Poppins', sans-serif !important;
  color: var(--text);
}

}

.payment-header {
  border-bottom: 1px solid rgba(0,0,0,0.15);
  padding: 1em 0;
  h2 {
    font-size: 1.5em;
    font-weight: 900;
    margin: 0;
    color: var(--primary);
  }
}

.payment-total {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 1em;
  font-size: 1.2em;
  color: var(--text);
  font-family: 'Poppins', sans-serif;
  text-decoration: underline;
}

.payment-method-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  gap: 1em;
  margin-top: 3em;

}

.payment-method-item {
  padding: 2em;
  border: 1px solid var(--primary);
  box-shadow: 5px 5px 4px rgba(0,0,0,0.1);
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: var(--text);
}

.payment-method-item:hover {
  box-shadow: 5px 5px 4px rgba(0,0,0,0.2);
  color: #000;
}

@media only screen and (max-width: 1024px)
{
  .payment-method-container {
    width: 100%;
  }
}


